#signpage {
  background-color: #4d5269;
  color: white;
}
.slidermenu {
  background-color: #4d5269;
  position: absolute;
  height: 100%;
  margin-left: -200px;
  width: 200px;
}

#menubutton {
  right: -70px;
  position: absolute;
  top: -1px;
  background-color: #4d5269;
}

.openmenu {
  transform: translateX(200px);
  transition: 0.3s;
}

#page {
  transition: 0.3s;
  height: 930px;
  min-width: 500px;
}

#list {
  background-color: #4d5269;
  color: white;
}
#modaltitle {
  background-color: #4d5269;
}
#modalbody {
  color: black;
}

#content {
  min-width: 400px;
}
